.App {
   
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  button {
    margin-top: 390px;
    font-size: 25px;
    cursor: pointer;
   color: aliceblue;
    background-color: black;
   margin: 5px;
   align-items: center;
   width: 250px;
  
  }
  .p{
    margin-top: 70px;
    margin-left: 550px;
   
  }
 
  h1{
    font-size:90px;
    padding-left: 350px;
    padding-top: 90px;
  }

 
  
  
  